

/* Set Body Style */

{


  box-sizing: border-box;


}



body{
  font-family: Montserrat, serif;
  font-size: 1em;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  background: white;
  min-height: 100vh;

}

#headline-container{

  margin: 20px;
  padding: 40px;
  /* width: 1000px; */

}

h1 {
 overflow: hidden;
 text-align: center;
}
h1:before,
h1:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

.card-area
{

  position: relative;
  /* width: 1000px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center ;

}



.card-area .card{
  position: relative;
  height:250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;

}

.card-area .card .imgBx{
position: absolute;
top: 0;
left: 0;
width:100%;
height:100%;
background: #333;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transition: 0.5s ease-in-out;
}

.card-area .card:hover .imgBx{
width: 150px;
height: 150px;
left: -75px;
top: calc(50% - 75px);
transition: 0.5s ease-in-out;
background: #ff0057;
}

/* .card-area .card .imgBx:before{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;

} */


.card-area .card .imgBx img{

  max-width: 100%;
  transition: 0.5s ease-in-out;

}

.card-area .card:hover .imgBx img{
  max-width: 75%;
}

.card-area .card .content{
  position: absolute;
  right: 0;
  width: calc(100%-75px);
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-area .card .content h3{
  margin-bottom: 5px;
  font-size: 24px;
}

.card-area .card .content a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px)
{

  .card-area
  {
    width: 100%;
    flex-direction: column;
    align-items:center;

  }


  .card-area .card{
    width: 400px;

  }

}



@media (max-width: 768px)
{

.card-area .card{
  max-width: 300px;
  flex: column;
  height: auto;

}

.card-area .card .imgBx {

  position: relative;

}

.card-area .card .imgBx,
.card-area .card:hover .imgBx {

  width: 100%;
  height: 200px;
  left: 0;


}

.card-area .card .imgBx,
.card-area .card:hover .imgBx img {

  max-width: 100px;


}

.card-area .card .content{
  position: relative;
  width: 100%;
}





}
